@import '../../styles/helpers.scss';

.link {
  margin-right: space(large);
  color: color(almostBlack);
  font-size: font-size(small);
  font-family: font-family(primary);
  font-weight: font-weight(regular);
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;

  &:last-child() {
    margin-right: 0;
  }
}
