$fontWeights: (
  thin: 100,
  extraLight: 200,
  light: 300,
  normal: 400,
  medium: 500,
  semiBold: 600,
  bold: 700,
  extraBold: 800,
  black: 900,
);

@function font-weight($weight) {
  @if map-has-key($fontWeights, $weight) {
    @return map-get($fontWeights, $weight);
  }

  @return $weight;
}

@mixin font-weight-modifiers {
  @each $name, $weight in $fontWeights {
    &.fontWeight-#{$name} {
      font-weight: $weight;
    }
  }
}
