@import '../node_modules/normalize-scss/sass/normalize';

:global {
  @include normalize();

  html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    background-color: #fff;
    color: #000;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-weight: 400;
  }

  p {
    margin: 0;
  }

  ul,
  li {
    margin: 0;
    padding: 0;
  }
}
